---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$background-color: #22272E;
$primary-color: #539BF5;
$text-color: #F1F1F1;
$link-color: #539BF5;
$link-color-hover: #73BBFF;
$link-color-visited: #539BF5;

.page__content p, .page__content li, .page__content dl{
    font-size: 0.8em !important;
}
.katex {
    font-size: 1.1em !important;
}
div.highlighter-rouge {
    font-size: 0.7em !important;
}
a { 
    text-decoration: none; 
}
.nav__list .nav__items .active {
    color: #539BF5 !important;
}

.sidebar {
    position: sticky !important;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials